/*reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffe4c4;
}

/*Layout con Grid - HOME  (mobile first)*/
.container-home {
    display: grid;
    grid-template-areas: 
        "header"
        "main-home"
        "footer";
}

/*estilos del header - TODOS LOS HTML*/
.header {
    grid-area: header;
    background-image: url(../img/header.png);
    background-size: cover;
    background-position: center;
   
    padding-top: 4rem;
    width: 100%;
    height: fit-content;

}
.header__title {
    text-align: center;
    font-size: 5.6rem;
    font-family: 'Satisfy', cursive;
    color: #ffe4c4;
    font-weight: normal;
}

/*Estilos del nav menu - TODOS LOS HTML*/
    .menu {
        width: 100%;
        position:absolute;
        top: 6rem;
        margin: 0;
        background-color: #e4c095 ;

    }

    .nav-general {
        color: black;
        font-size: 1.4rem;
        background-color: #feebd484;
        border-bottom: 1px solid black;
    }

    .nav-marca {
        color: #feebd4;
        font-family: 'Satisfy', cursive;
        font-size: 1.5rem;
        font-weight: 500;
        margin-left: 2rem;

        transition: 0.3s;
    }
    .nav-marca:hover {
        padding: 0.3rem;
    }
    .navbar-collapse{
        display: flex;
        justify-content: center;
    }
    .nav-item {
        margin: 0 2rem;
    }

/*estilos del main-home (index.html)*/
.main-home {
    background-color: #ffe4c4;
    grid-area: main-home;
    padding: 1.5rem 0;
}

.section-home {
    background-color: #feebd4;
    border: 2px solid black;
    border-radius: 25px 0;
    padding: 1rem;
    margin: 1rem;
}

.section-home__title {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
}

.section-home__text {
    font-size: 1.4rem;
    text-align: start;
}

.section-home__text span{
    display: block;
    font-weight: bold;
}

.img-home {
    display: none;
}

/*LAYOUT con Grid - galeria.html (mobile first)*/
.container-galeria {
    display: grid;
    grid-template-areas: "header"
        "sectors"
        "galery"
        "footer";
}

.sectors {
    grid-area: sectors;
}

.galery {
    grid-area: galery;
}

/*ESTILOS DEL ASIDE - galeria.html*/
.sectors {
    background-color: #feebd4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding-bottom: 0.5rem;

}

.sectors__title {
    font-family: 'Satisfy', cursive;
    font-size: 2.8rem;
    font-weight: normal;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.sectors__list {
    list-style-type: none;
    font-size: 1.2rem;

}

.sectors__category {
    padding: 1rem;
    margin: 0.5rem;
    text-align: center;
    border: 2px dashed black;
    width: 15rem;
    background-color: #00000011;
}

.sectors__category:hover {
    font-weight: bold;
}

.sectors__category a {
    text-decoration: none;
    color: black;
}

/*ESTILOS DEL MAIN - galeria.html*/
.galery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galery__cont {
    width: 90%;
}

.galery__img {
    width: 100%;
}

/*LAYOUT con Grid - carta.html* (Mobile first)*/
.container-carta {
    display: grid;
    grid-template-areas: 
        "header"
        "carta"
        "suggestion"
        "footer";
    width: 100%;
    justify-items: center;
}
.carta {
    grid-area: carta;
    width: 90%;
}
.table {
    border-top: 5px solid #e4c095 ;
    font-size: 1.2rem;
    border-radius: 1rem 0;
    margin: 1.5rem 0;
    padding: 0.3rem 0.3rem 0.3rem 0.5rem;
    width: 100%;
    background-color: #feebd4;
}
.table__h1 {
    width: 100%;
    font-family: 'Satisfy', cursive;
    text-decoration: underline;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.3rem 0;
}

.suggestion {
    justify-content: center;
    grid-area: suggestion;
    width: 90%;
    background-color: #e4c095;
    border: 2px solid rgba(0, 0, 0, 0.295);
    border-radius: 1.4rem;
    padding: 0.5rem;
    margin: 0.7rem 0
}
.suggestion__title {
    font-family: 'Satisfy', cursive;
    font-size: 1.4rem;
    text-align: center;
    padding: 0.8rem 0;
    text-decoration: underline;
}
.suggestion__subtitle {
    font-family: 'Satisfy', cursive;
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0.5rem;
}
.suggestion__text {
    margin: 1rem 0.4rem;
    font-size: 1.1rem;
}
.suggestion__img {
    width: 95%;
    margin: 1rem 0.5rem;
    border-radius: 0.6rem;
}

/*LAYOUT con Grid - carta.html* (Mobile first)*/
.container-recetas {
    display: grid;
    grid-template-areas: 
        "header"
        "recipes"
        "footer";
}
.recipes{
    grid-area: recipes;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recipes-subtitle {
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 1.8rem;
    font-weight: normal;
    margin-top: 0.8rem;
}
.recipe-one, .recipe-two {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #feebd4;
    width: 90%;
    margin: 1.2rem 0;
    border: 2px solid black;
    border-radius: 1rem 0;
}
.recipe-one__title, .recipe-two__title {
    font-size: 1.3rem;
    margin: 1rem;
    font-weight: bold;
}
.recipe-one__list, .recipe-two__list{
    align-self: center;
    width: 80%;
    font-size: 1.2rem;
}
.recipe-one__img, .recipe-two__img {
    width: 80%;
    margin: 0.8rem;
}

/*Estilos de contacto (sin responsive ni grid - esperando Bootstrap)*/

.cont-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-title {
    font-family:'Satisfy', cursive;
    font-size: 35px;
    font-weight: normal;
    margin: 35px 0;
}
.contact-form {
    width: 500px;
    margin: 20px 35px;
}
.contact-form__line {
    font-size: 20px;
    margin: 8px;
}
.contact-form__input {
   font-size: 15px;
   background-color: #feebd4;
   border: 0.5px solid black;
   border-radius: 10px;
   width: 450px;
   height: 25px;
}
.contact-form__input--size{
    height: 90px;
}
.contact-form__input::placeholder {
    font-size: 15px;
    text-align: center;
    color: rgba(0, 0, 0, 0.316);
}
.contact-form__button {
    margin: 20px 10px 20px 60%;
}

/*ESTILOS DEL FOOTER*/
.footer {
    grid-area: footer;
    background-color: #a68b6a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/*footer follow*/
.footer-title__follow {
    color: #ffe4c4;
    font-size: 1rem;
    padding-bottom: 1rem;
}
/*footer iconos*/
.footer-redes {
    font-size: 1.5rem;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}
.footer-redes__link {
    font-size: 1.5rem;
    text-decoration: none;
    color: #ffe4c4;
}
.footer-redes__link:hover {
    color: #ffe4c4;
    border-bottom: 1px solid #ffe4c4;
}
/*footer creator/copy*/
.footer-creator {
    display: flex;
}
.footer-creator__text {
    font-size: 0.7rem;
    color: #ffe4c4;
    margin-right: 0.1px;
    padding-top: 1rem;
}
.footer-creator__ig {
    text-decoration: none;
    color: #ffe4c4;
}
.footer-creator__ig:hover {
    text-decoration: underline;
}


/*MEDIA QUERIS*/
@media screen and (min-width:600px) {
    
    /*media queris header*/
    .header__title {
        font-size: 6.6rem;
    }
    .nav-bar__category {
        font-size: 1.4rem;
    }

    /*media queris home*/
    .section-home__title {
        text-align: center;
        font-size: 2.5rem;
    }

    /*media queris galeria*/
    .galery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }
    .galery__cont {
        width: 40%;
    }

    /*media queris carta*/
    .carta {
        display: grid;
        grid-template-areas:
            
            "entradas postres"
            "principales bebidas"
            "cafeteria cafeteria";
        justify-items: center;

    }
    .header {
        width: 100%;
    }
    .entradas {
        grid-area: entradas;
        width: 90%;
    }
    .principales {
        grid-area: principales;
        width: 90%;
    }
    .bebidas {
        grid-area: bebidas;
        width: 90%;
    }
    .postres {
        grid-area: postres;
        width: 90%;
    }
    .cafeteria {
        grid-area: cafeteria;
        width: 45%;
    }
    .suggestion {
        width: 70%;
    }

    /*media queris recetas*/
}
@media screen and (min-width:992px){
    .menu{
        top: 0.5rem;
        background-color: transparent;
    }
}
@media screen and (min-width:1024px) {
    /*media queris home*/
    .section-home__title {
        text-align: right;
    }
    .main-home {
        display: flex;
        flex-direction: row-reverse;
        justify-content: right;
    }
    .section-home {
        width: 60%;
    }
    .section-home__title {
        font-size: 2.5rem;
        text-align: center;
    }
    .img-home {
        background-color: #d6bb9a2a;
        display: block;
        align-self: center;
        margin-left: 3rem;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 50%;
    }
    .img-home__laviejasede {
        width: 90%;
        padding: 3rem 0;

        animation-name: scale-img;
        animation-duration: 1s;
        animation-timing-function: linear;
    }

    /*media queris galeria*/
    .container-galeria {
        display: grid;
        grid-template-areas: 
        "header header header"
        "sectors galery galery"
        "footer footer footer";
    }
    .sectors {
        height: 35rem;
        width: 100%;
        border: 1px solid black;
        border-radius: 1rem 0;
        position: sticky;
        top: 0px;
        margin-top: 2.5rem;
    }
    .galery__cont {
        margin-top: 2rem;
    }
    .galery__img {
        border-radius: 2rem;
        width: 80%;
    }

    /*media queris carta*/
    .container-carta{
        display: grid;
        grid-template-areas: 
        "header header"
        "carta suggestion"
        "footer footer" ;
        grid-template-columns: 3fr 1fr;
    }
    .header {
        width: 100%;
    }
    .carta{
        width: 90%;
    }
    .suggestion {
        width: 80%;
        height: 50%;
        margin-top: 1.2rem;
    }

    /*media queris recetas*/
    .recipes-subtitle{
        font-size: 2.6rem;
    }
    .recipe-one{
        display: grid;
        grid-template-areas: 
            "subtitle subtitle"
            "list     img";
        grid-template-columns: 2fr 1fr;
        width: 90%;
        padding-bottom: 0.3rem;
    }
    .recipe-one__title {
        grid-area: subtitle;
        font-size: 2rem;
    }
    .recipe-one__list {
        grid-area: list;
        justify-self: center;
        align-self: start;

        font-size: 1.3rem;
        width: 90%; 
    }
    .recipe-two{
        display: grid;
        grid-template-areas: 
            "subtitle subtitle"
            "img     list";
        grid-template-columns: 1fr 2fr;
        width: 90%;
        padding-bottom: 0.3rem;
    }
    .recipe-two__title {
        grid-area: subtitle;
        font-size: 2rem;
    }
    .recipe-two__list {
        grid-area: list;
        justify-self: center;
        align-self: start;

        font-size: 1.3rem;
        width: 90%; 
    }
    .recipe-one__img, .recipe-two__img{
        grid-area: img;
        justify-self: center;
        align-self: start;

        width: 90%;
        border: 5px solid black;
    }
   
}